@import '~src/_variables.scss';

.container {
  position: relative;
  display: flex;
}

.image-container {
  flex: 1 1 80%;
}

.link {
  img {
    height: 48px;
    width: 48px;
    color: white;
  }
}


.prev {
  z-index: 1;
}

.next {
}
