{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
