@import 'src/_variables.scss';

mat-toolbar {
  position: fixed;
  z-index: 2;
}

.nav {
  margin-right: auto;
}

.heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: $black;

  &:hover {
    color: $accent;
  }

  h1 {
    align-items: center;
    display: flex;

    mat-icon {
      margin-left: $marginXS;
    }
  }
}
