<mat-toolbar color="primary">
  <mat-toolbar-row class="row">
    <button *ngIf="(isAuth$ | async)" (click)="onToggleSideNav()"
      mat-icon-button class="nav">
      <mat-icon>{{sidenavState ? 'close' : 'menu'}}</mat-icon>
    </button>
    <a routerLink="/" class="heading">
      <h1>
        <span>AnalogPics</span>
        <mat-icon>camera_alt</mat-icon>
      </h1>
    </a>
    <nav *ngIf="(isAuth$ | async)">
      <button mat-raised-button color="warn" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
