<section>
  <div class="header">
    <h1>Dashboard</h1>
    <p>Welcome back!</p>
  </div>
  <div class="cards">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Unpublished</mat-card-title>
        <mat-card-subtitle>
          Number of pictures uploaded to database, but not visible
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="number" *ngIf="unpublished$ | async as unpublished">
          {{ unpublished.length }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="accent" [routerLink]="getFullPath(pathToPublish.path)">
          Publish them!
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Published</mat-card-title>
        <mat-card-subtitle>
          Number of pictures visible
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="number" *ngIf="published$ | async as published">
          {{ published.length }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="accent" [routerLink]="getFullPath(pathPublished.path)">
          Check Them!
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
