@import 'src/_variables.scss';

.header {
  text-align: center;
  margin-top: $marginXL;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $marginXL;
}

.mat-card-title {
  margin-bottom:  $marginM;
}

.card {
  max-width: 200px;
  display: flex;
  flex-direction: column;

  > .card-header {
    margin-bottom: auto;
  }

  + .card {
    margin-left: $marginM;
  }
}

.date {
  font-size: 20px;
}

.number {
  font-size: 40px;
  padding: $marginL;
  border: solid $accent 5px;
  border-radius: 100%;
  display: inline-block;
}

@media only screen and (max-width: 450px) {
  .card {
    + .card {
      margin-left: 0;
      margin-top: $marginM;
    }
  }
}
