@import 'src/_variables.scss';

.control {
  position: sticky;
  padding: {
    bottom: $marginL;
    top: $marginL;
  }
  z-index: 2;
  display: flex;
  top: 0;
  background-color: $white;

  button {
    + button {
      margin-left: $marginM;
    }
  }
}
