<header>
  <app-logo header="Login Page"></app-logo>
  <nav>
    <a routerLink="/">Go Back</a>
    <a routerLink="/about">About Page</a>
  </nav>
</header>
<section>
  <form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" autocomplete="on" class="form">
    <mat-form-field appearance="outline" >
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        placeholder="email@email.com"
        ngModel
        required
        #emailInput="ngModel"
        autocomplete="on"
      />
      <mat-error
        *ngIf="emailInput.hasError('email') && !emailInput.hasError('required')"
      >
        Email is invalid.
      </mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">
        Filed must not be empty
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput ngModel name="password" required />
      <mat-error>Filed must not be empty</mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </form>
</section>
