@import 'src/_variables.scss';

header {
  padding: $marginM;
  text-align: center;
  position: relative;
}

nav {
  a {
    padding: $marginS;
    &:hover {
      text-decoration: underline;
    }
  }
  a + a {
    margin-left: $marginS;
  }
}

.form {
  max-width: 500px;
  margin: {
    top: 30px;
    left: auto;
    right: auto;
  }
  display: flex;
  flex-direction: column;
}
