<ng-container *ngIf="(unpublished$ | async) as images">
  <div class="control">
    <button mat-raised-button color="accent" (click)="selectAll(images)">
      Select All
    </button>
    <ng-container *ngIf="(anySelected$ | async)">
      <button
        mat-raised-button
        color="accent"
        [@fadeInOut]
        (click)="deselectAll()"
      >
        Deselect All
      </button>
      <button
        mat-raised-button
        color="warn"
        [@fadeInOut]
        [disabled]="processingPublishing"
        (click)="publishSelection()"
      >
        <span *ngIf="!processingPublishing">Publish</span>
        <mat-icon *ngIf="processingPublishing" class="rotate">cached</mat-icon>
      </button>
    </ng-container>
  </div>

  <app-picture-grid [images]="images">
    <ng-template let-image>
      <app-image-selector
        [image]="image"
        [anySelected]="anySelected$"
        [selected]="checkSelectionState(image) | async"
        (addSelected)="addSelected($event)"
        (removeSelected)="removeSelected($event)"
      >
        <app-image [image]="image"></app-image>
      </app-image-selector>
    </ng-template>
  </app-picture-grid>
</ng-container>

<div class="spinner">
  <mat-spinner *ngIf="(loadingUnpublished$ | async)"></mat-spinner>
</div>
