@import 'src/_variables.scss';

picture {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  transition: filter 400ms;
  transform: none;
}

.cover {
  img {
    object-fit: cover;
  }
}

.contain {
  img {
    object-fit: contain;
  }
}

.lazyloaded {
  filter: blur(0);
}

.lazyload,
.lazyloading {
  opacity: 1;
  filter: blur(8px);
}
