@import '~src/_variables.scss';

:host {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: $light-grey;
}

img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: filter 400ms;
}

@supports (object-fit: cover) {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
    transform: none;
  }
}

.lazyloaded {
  opacity: 1;
}

.lazyload,
.lazyloading {
  opacity: 0.1;
}

@supports (filter: blur()) {
  .lazyloaded {
    filter: blur(0);
  }

  .lazyload,
  .lazyloading {
    opacity: 1;
    filter: blur(8px);
  }
}
