@import '~src/_variables.scss';


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  background-color: $background;
  width: 250px;
}

.main {
  padding: {
    bottom: $marginL;
    top: $marginL;
    left: $paddingPageSide;
    right: $paddingPageSide;
  };
}
