$md-analog-green: (
  50 : #eff6e8,
  100 : #d8e8c6,
  200 : #bed9a1,
  300 : #a3ca7b,
  400 : #90be5e,
  500 : #7cb342,
  600 : #74ac3c,
  700 : #69a333,
  800 : #5f9a2b,
  900 : #4c8b1d,
  A100 : #dcffc5,
  A200 : #bdff92,
  A400 : #9fff5f,
  A700 : #8fff46,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-analog-blue: (
  50 : #e0eef2,
  100 : #b3d4de,
  200 : #80b7c8,
  300 : #4d9ab1,
  400 : #2684a1,
  500 : #006e90,
  600 : #006688,
  700 : #005b7d,
  800 : #005173,
  900 : #003f61,
  A100 : #91d1ff,
  A200 : #5ebcff,
  A400 : #2ba6ff,
  A700 : #129bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-analog-orange: (
  50 : #fdf2e1,
  100 : #fbddb3,
  200 : #f8c780,
  300 : #f5b14d,
  400 : #f3a027,
  500 : #f18f01,
  600 : #ef8701,
  700 : #ed7c01,
  800 : #eb7201,
  900 : #e76000,
  A100 : #ffffff,
  A200 : #ffe7da,
  A400 : #ffc6a7,
  A700 : #ffb68e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

