@import '~src/_variables.scss';

.file {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    i {
      margin-right: $marginS;
    }
  }
}
