@import '~src/_variables.scss';


.file {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:focus {
      + label {
        background-color: $primary;
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }

    + label {
      align-items: center;
      border-radius: $marginXS;
      border: 2px solid $primary;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: $marginM;
      transition: background-color 500ms $transition;

      &:hover {
        background-color: $primary;
      }

      i {
        margin-right: $marginS;
      }
    }
  }
}
